<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="../static/css/iview.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b3a7eb27703def9ba98376aca09290db";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script>
      MathJax = {
        tex: {
          tags: 'ams'  // should be 'ams', 'none', or 'all'
        }
      };
      </script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

{% extends "base.html" %}

<body>
    {% block mainContent %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ topic }}
                            </h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>

    <div id="el">
        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1 class="title">Just Math It</h1>
            <p>Question ^*page+1*^，^*data.length*^ questions in total</p>
        </div>
         <ButtonGroup class="pageControl">
            <i-button type="primary" @click="prev">
                Prev
            </i-button>
            <i-button type="primary" @click="next">
                Next
            </i-button>
        </ButtonGroup>
        <Card class='timu'>
            <p slot="title">
                <label class='type' v-if="timu.option">Multiple Choice</label>^*timu.title*^
            </p>
            <div class="option">
                <div v-for="(i,k) in timu.option" v-key='k' @click='select(k)' :class='daan.indexOf(k)!=-1?"active":""'>
                    ^*zidian[k]*^.^*i*^</div>
            </div>
            <div type="success" v-if='answer&&result===1' class='result success'>Great! The answer is correct!</div>
            <div type="warning" v-if='answer&&result===0' class='result warning'>Sorry! Your answer is wrong</div>

            <div v-if='answer' class="answer">Answer is：^*timu.answer*^</div>
            <div v-if='answer' class="analysis">Solution：</div><br>
            <div v-if='answer' >
                <Card class="timu" v-for="i in timu.analysis">
                     <img :src="i">
                </Card>
            </div>

        </Card>

        <i-button class="huida" type="primary" :disabled='daan.length===0' @click='huida' size="large" small>Check</i-button>
        <i-button class="huida" :disabled='daan.length===0' size="large" onclick="window.location.href='{{ url_for('index') }}'" small>Finish</i-button>
    </div>
    <script src="../static/js/public.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/iview.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script>
        const vue = new Vue({
            el: "#el",
            delimiters: ['^*', '*^'],
            data: {
                fileName: '',
                fileId: '',
                data: [],
                page: 0,
                timu: {},
                zidian: ['A', 'B', 'C', 'D'],
                daan: [],
                answer: false,
                result: false,
            },
            methods: {
                select(k) {
                    if (this.daan.indexOf(k) != -1) {
                        this.daan.splice(this.daan.findIndex(item => item === k), 1);
                    } else {
                        if (String(this.timu.answer).length === 1) {
                            this.daan = [];
                        }
                        this.daan.push(k)
                    }
                },
                huida() {
                    if(this.data.length == this.page){
                        console.log("hello")
                    }
                    else{
                        let answer = this.timu.answer.split('')
                        this.result = 1;
                        if (this.daan.length != answer.length) {
                            this.result = 0;
                        } else {
                            for (i in this.daan) {
                                console.log(this.zidian[this.daan[i]])
                                if (answer.indexOf(this.zidian[this.daan[i]]) == -1) {
                                    this.result = 0;
                                }
                            }
                        }
                        if (this.result && this.page < this.data.length) {
                            setTimeout(() => {
                                this.next()
                            }, 2000)
                        } else {
                            //错题ID记录
                            if (!localStorage["wrong_" + this.fileId]) {
                                localStorage["wrong_" + this.fileId] = JSON.stringify([])
                            }
                            let wrong = JSON.parse(localStorage["wrong_" + this.fileId])
                            if (wrong.indexOf(this.timu.id) == -1) {
                                wrong.push(this.timu.id)
                                localStorage["wrong_" + this.fileId] = JSON.stringify(wrong)
                            }
                        }
                        this.answer = true;
                    }
                },
                next() {
                    if (this.page < this.data.length) {
                        this.page += 1;
                        this.initTimu()
                    }
                },
                prev() {
                    if (this.page !== 0) {
                        this.page -= 1;
                        this.initTimu()
                    }
                },
                initTimu() {
                    //对之前的记录清空
                    this.daan = [];
                    this.answer = false;
                    //新题目
                    this.timu = this.data[this.page];
                    //简答题直接显示解析和答案
                    // 记录答题题号
                    if (sessionStorage.type === 'order') {
                        localStorage['order_' + this.fileId] = this.page
                    }
                },
            },
            created() {
                this.fileName = sessionStorage.file
                this.fileId = sessionStorage.id
                if (!this.fileName) {
                    window.location.href = "/index"
                }
                axios.get('../static/json/' + this.fileName)
                    .then((response) => {
                        this.data = response.data;
                        //错题模式需要筛选题目
                        if (sessionStorage.type == "wrong") {
                            //如果没有错题
                            if (localStorage["wrong_" + this.fileId] && localStorage["wrong_" + this.fileId] != "[]") {
                                this.data = this.wrongArray(this.data)
                            } else { //如果没有错题
                                this.$Message.error('You have no wrong questions right now!');
                                sessionStorage.type = "order";
                            }
                        }
                        //初始化题目
                        this.initTimu();
                    })
                    .catch(function (error) {
                        this.$Message.error('Error！');
                    });
            }
        })
    </script>
</body>

{% endblock %}