<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}


{% block mainContent %}


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Shop</h1>
                            <p>Buy something you like here!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".avatar">Avatar</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".badgep">Badge</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".timecapsule">Time Capsule</a></li>
{#                    <li><a class="btn btn-default" href="#" data-filter=".theme">Profile Theme</a></li>#}
                </ul>

                <div class="portfolio-items">
                    {% for avatar in avatar_list %}
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item avatar">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="data:;base64,{{ avatar.image }}" style="border-radius:50%" width="250" height="250">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="data:;base64,{{ avatar.image }}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                {% if avatar.have == True %}
                                <button class="btn btn-success" id="{{ avatar.name }}" onclick="buy_avatar({{ avatar.name }})" disabled>You already had it!</button><br>
                                {% else %}
                                <button class="btn btn-success" id="{{ avatar.name }}" onclick="buy_avatar({{ avatar.name }}, 100)">Buy it!</button><br>
                                {% endif %}
                                <img src="{{ url_for('static',filename='images/coins.png') }}" width="15px"> <p id="">{{ avatar.price }}</p>
                                <h2 style="text-align: center">{{ avatar.name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for badge in badge_list %}
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item badgep">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="data:;base64,{{ badge.image }}" style="border-radius:50%" width="250" height="250">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="data:;base64,{{ badge.image }}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                {% if badge.have == True %}
                                <button class="btn btn-success" id="{{ badge.name }}" onclick="buy_badge({{ badge.name }})" disabled>You already had it!</button><br>
                                {% else %}
                                <button class="btn btn-success" id="{{ badge.name }}" onclick="buy_badge({{ badge.name }}, 50)">Buy it!</button><br>
                                {% endif %}
                                <img src="{{ url_for('static',filename='images/coins.png') }}" width="15px"> <p id="">{{ badge.price }}</p>
                                <h2 style="text-align: center">{{ badge.name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for time_capsule in time_capsule_list %}
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item timecapsule">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{ url_for('static',filename='images/time-capsule/'+time_capsule.image+'.png') }}" style="border-radius:50%" width="250" height="250">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><p style="color: white">{{ time_capsule.description }}</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <div style="text-align: center"><button class="btn btn-success" onclick="buy_capsule({{ time_capsule.type }})">Buy it!</button>
                                    <input id="{{ time_capsule.type }}" type="number" class="form-control" style="width: 100px; text-align: center; margin: auto" value="1" min="1">
                                </div><br>
                                <img src="{{ url_for('static',filename='images/coins.png') }}" width="15px"> <p id="{{ time_capsule.price }}">{{ time_capsule.price }}</p>
                                <h2>{{ time_capsule.name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{#                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item theme">#}
{#                        <div class="portfolio-wrapper">#}
{#                            <div class="portfolio-single">#}
{#                                <div class="portfolio-thumb">#}
{#                                    <img src="{{ url_for('static',filename='images/coming-soon1.png') }}" class="img-responsive" alt="">#}
{#                                </div>#}
{#                                <div class="portfolio-view">#}
{#                                    <ul class="nav nav-pills">#}
{#                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>#}
{#                                        <li><a href="images/portfolio/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="portfolio-info ">#}
{#                                <h2>Profile Theme</h2>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
{#                <div class="portfolio-pagination">#}
{#                    <ul class="pagination">#}
{#                      <li><a href="#">left</a></li>#}
{#                      <li><a href="#">1</a></li>#}
{#                      <li><a href="#">2</a></li>#}
{#                      <li class="active"><a href="#">3</a></li>#}
{#                      <li><a href="#">4</a></li>#}
{#                      <li><a href="#">5</a></li>#}
{#                      <li><a href="#">6</a></li>#}
{#                      <li><a href="#">7</a></li>#}
{#                      <li><a href="#">8</a></li>#}
{#                      <li><a href="#">9</a></li>#}
{#                      <li><a href="#">right</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <script>
        function buy_capsule(name) {
            const num = parseInt(document.getElementById(name).value);
            if(name===1){
                let price = num*80;
                if (price > {{ user.coins }}){
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'You do not have enough coins!',
                      footer: '<a href="">Do some quizes to win the coins</a>'
                    })
                }else{
                    const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Are you sure to buy it?',
                      text: "You won't be able to revert this!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Yes, I\'ll buy it!',
                      cancelButtonText: 'No!',
                      reverseButtons: true
                    }).then((result) => {
                      if (result.isConfirmed) {
                        $.ajax({
                            url: 'shop_buy/'+price,
                            type: 'POST',
                            data: {
                                num: num,
                                name: '1',
                                type: 'capsule'
                            },
                            success: function (response) {
                                window.location.reload();
                            },
                            error: function (response) {
                                alert("You do not have enough coins!")
                            }
                        });
                      } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Cancelled',
                          ':)',
                          'error'
                        )
                      }
                    })
                }
            }
            if(name===2){
                let price = num*120;
                if (price > {{ user.coins }}){
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'You do not have enough coins!',
                      footer: '<a href="">Do some quizes to win the coins</a>'
                    })
                }else{
                    const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Are you sure to buy it?',
                      text: "You won't be able to revert this!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Yes, I\'ll buy it!',
                      cancelButtonText: 'No!',
                      reverseButtons: true
                    }).then((result) => {
                      if (result.isConfirmed) {
                        $.ajax({
                            url: 'shop_buy/'+price,
                            type: 'POST',
                            data: {
                                num: num,
                                name: '2',
                                type: 'capsule'
                            },
                            success: function (response) {
                                window.location.reload();
                            },
                            error: function (response) {
                                alert("You do not have enough coins!")
                            }
                        });
                      } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Cancelled',
                          ':)',
                          'error'
                        )
                      }
                    })
                }
            }
        }

        function buy_avatar(id, price) {
            if (price > {{ user.coins }}){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'You do not have enough coins!',
                  footer: '<a href="">Do some quizes to win the coins</a>'
                })
            }else {
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                  },
                  buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                  title: 'Are you sure to buy it?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, I\'ll buy it!',
                  cancelButtonText: 'No!',
                  reverseButtons: true
                }).then((result) => {
                  if (result.isConfirmed) {
                    $.ajax({
                        url: '{{ url_for('shop_buy', price=100) }}',
                        type: 'POST',
                        data: {
                            name: id.id,
                            type: 'avatar'
                        },
                        success: function (response) {
                            window.location.reload();
                        },
                        error: function (response) {
                            alert("You do not have enough coins!")
                        }
                    });
                  } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                  ) {
                    swalWithBootstrapButtons.fire(
                      'Cancelled',
                      ':)',
                      'error'
                    )
                  }
                })
            }
        }

        function buy_badge(id, price) {
            if (price > {{ user.coins }}){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'You do not have enough coins!',
                  footer: '<a href="">Do some quizes to win the coins</a>'
                })
            }else {
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                  },
                  buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                  title: 'Are you sure to buy it?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, I\'ll buy it!',
                  cancelButtonText: 'No!',
                  reverseButtons: true
                }).then((result) => {
                  if (result.isConfirmed) {
                    $.ajax({
                        url: '{{ url_for('shop_buy', price=50) }}',
                        type: 'POST',
                        data: {
                            name: id.id,
                            type: 'badge'
                        },
                        success: function (response) {
                            window.location.reload();
                        },
                        error: function (response) {
                            alert("You do not have enough coins!")
                        }
                    });
                  } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                  ) {
                    swalWithBootstrapButtons.fire(
                      'Cancelled',
                      ':)',
                      'error'
                    )
                  }
                })
            }
        }
    </script>
</html>
{% endblock %}
