<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block mainContent %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Sign Up</h1>
                            <p>Start Your Wonderful Journey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="map-section">
        <div class="col-md-5"></div>
        <div class="col-md-5 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Sign Up</h2>
                        {% for message in get_flashed_messages() %}
                        <p class="text-success">{{ message }}</p>
                        {% endfor %}
                        <form id="main-contact-form" name="contact-form" action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                                {% for error in form.firstname.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group col-md-6">
                                    {{ form.firstname(class="form-control") }}
                                </div>

                                {% for error in form.lastname.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group col-md-6">
                                    {{ form.lastname(class="form-control") }}
                                </div>

                                {% for error in form.password.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.password(class="form-control") }}
                                </div>

                                {% for error in form.password2.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.password2(class="form-control") }}
                                </div>

                                <div class="form-group">
                                    {{ form.gender(class="form-control") }}
                                </div>

                                {% for error in form.phone.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.phone(class="form-control") }}
                                </div>

                                {% for error in form.teacher.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.teacher(class="form-control") }}
                                </div>

                                {% for error in form.school.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.school(class="form-control") }}
                                </div>

                                {% for error in form.dob.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <p>Date of birth</p>
                                <div class="form-group">
                                    {{ form.dob(class="form-control") }}
                                </div>

                                {% for error in form.address.errors %}
                                <p class="text-success">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.address(class="form-control") }}
                                </div>
                                <div class="form-group">{{ form.submit(class="btn btn-submit") }}</div>
                        </form>
                    </div>
                </div>
    </section> <!--/#map-section-->


</html>

{% endblock %}