<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block mainContent %}


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Skill Details</h1>
                            <p>Introduction of {{ skill.skill_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ url_for('static',filename='images/skills/'+skill.skill_name+'.png') }}" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="#">{{ skill.skill_name }}</a></h2>
{#                                    <h3 class="post-author"><a href="#">Posted by micron News</a></h3>#}
                                    <p>{{ skill.skill_introduction }}</p>
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
{#                                            <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>#}
                                            <li><a href="#"><i class="fa fa-heart"></i>{{ skill.like }} Love</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>
                                                {{ comment_count }} Comments
                                            </a></li>
                                        </ul>
                                    </div>

                                    <div class="author-profile padding">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="contact-form bottom">
                                                    <h2>Leave your questions or comments here</h2>
                                                    <form id="main-contact-form" name="contact-form" action="" method="post" novalidate>
                                                    {{ commentForm.hidden_tag() }}
                                                        {% for error in commentForm.comment.errors %}
                                                        <p class="text-success">{{ error }}</p>
                                                        {% endfor %}
                                                        <div class="form-group">
                                                            {{ commentForm.comment(rows=10, class="form-control") }}
                                                        </div>
                                                        <div class="form-group">{{ commentForm.submit(class="btn btn-submit") }}</div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="response-area">
                                    <h2 class="bold">Comments</h2>
                                    {% for i in range(comments|length) %}
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="post-comment">
                                                <a class="pull-left" href="#">
                                                    <img src="data:;base64,{{ comments[i].user_img }}" style="border-radius:50% !important;" width="100">
                                                </a>
                                                <div class="media-body">
                                                    <span><i class="fa fa-user"></i>Posted by <a href="#">{{ comments[i].user_name }}</a></span>
                                                    <p>{{ comments[i].comment }}</p>
                                                    <ul class="nav navbar-nav post-nav">
                                                        <li><a onclick="false"><i class="fa fa-clock-o"></i>{{ comments[i].comment_time }}</a></li>
                                                        <li><a onclick="showReply({{ i }})"><i class="fa fa-reply"></i>Reply</a></li>
                                                            <form id='reply{{ i }}' style="display:none;"  method="post" novalidate>
                                                                    {{ replyForm.hidden_tag() }}
                                                                    {% for error in replyForm.reply.errors %}
                                                                    <p class="text-success">{{ error }}</p>
                                                                    {% endfor %}
                                                                    <div class="form-group">
                                                                        {{ replyForm.comment_id(size=32, class="form-control",value=comments[i].comment_id, style="display:none;") }}
                                                                    </div>
                                                                    {% for error in replyForm.reply.errors %}
                                                                    <p class="text-success">{{ error }}</p>
                                                                    {% endfor %}
                                                                    <div class="form-group">
                                                                        {{ replyForm.reply(size=32, class="form-control") }}
                                                                    </div>
                                                              <div class="form-group">{{ replyForm.submit(class="btn btn-submit") }}</div>
                                                            </form>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% for reply in comments[i].replies %}
                                            <div class="parrent">
                                                <ul class="media-list">
                                                    <li class="post-comment reply">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object" src="data:;base64,{{ reply.reply_img }}" style="border-radius:50% !important;" width="100">
                                                        </a>
                                                        <div class="media-body">
                                                            <span><i class="fa fa-user"></i>Posted by <a href="#">{{ reply.reply_user_name }}</a></span>
                                                            <p>{{ reply.reply_content }}</p>
                                                            <ul class="nav navbar-nav post-nav">
                                                                <li><a onclick="false"><i class="fa fa-clock-o"></i>{{ reply.reply_time }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div><!--/Response-area-->
                                    <div class="pagination_page">
                                        <ul class="pagination">
                                            <li class="page-item ">
                                                    <a href="{{ url_for('skill_details',skill_ = skill.skill_name, page=paginate.prev_num)}}">left</a>
                                            </li>
                                            {% for i in paginate.iter_pages() %}
{#                                                {% if i == paginate.page %}#}
                                                {% if i %}
                                                    {% if i == paginate.page %}
                                                    <li class="active">
                                                        <a class="page-link" href="{{ url_for('skill_details',skill_ = skill.skill_name, page=i)}}">{{ i }}</a>
                                                    </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="{{ url_for('skill_details',skill_ = skill.skill_name, page=i)}}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    <li class='page-item'>
                                                        <a class="page-link" href="{{ url_for('skill_details',skill_ = skill.skill_name, page=paginate.next_num) }}">&hellip;</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li>
                                                <a href="{{ url_for('skill_details',skill_ = skill.skill_name, page=paginate.next_num)}}">right</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Comments or Questions</h3>
                            {% if comments|length >= 3 %}
                                {% for i in range(3) %}
                                <div class="media">
    {#                                <div class="pull-left">#}
    {#                                    <a href="#"><img src="images/portfolio/project1.jpg" alt=""></a>#}
    {#                                </div>#}
                                    <div class="media-body">
                                        <h4><a href="#">{{ comments[i].comment }}</a></h4>
                                        <p>{{ comments[i].comment_time }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% elif comments|length == 0 %}
                                <div class="media-body">
                                    <h4><a onclick="false">No comments yet</a></h4>
                                </div>
                            {% else %}
                                {% for comment in comments %}
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">{{ comment.comment }}</a></h4>
                                        <p>{{ comment.comment_time }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
{#                        </div>#}
                        <div class="sidebar-item categories">
                            <h3>Skills</h3>
                            <ul class="nav navbar-stacked">
                                {% for skill in all_skill %}
                                <li><a href="{{ url_for('skill_details',skill_=skill) }}">{{ skill }}<span class="pull-right">(?)</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
{#                        <div class="sidebar-item tag-cloud">#}
{#                            <h3>Tag Cloud</h3>#}
{#                            <ul class="nav nav-pills">#}
{#                                <li><a href="#">Corporate</a></li>#}
{#                                <li><a href="#">Joomla</a></li>#}
{#                                <li><a href="#">Abstract</a></li>#}
{#                                <li><a href="#">Creative</a></li>#}
{#                                <li><a href="#">Business</a></li>#}
{#                                <li><a href="#">Product</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="sidebar-item popular">#}
{#                            <h3>Latest Photos</h3>#}
{#                            <ul class="gallery">#}
{#                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>#}
{#                                <li><a href="#"><img src="images/portfolio/popular2.jpg" alt=""></a></li>#}
{#                                <li><a href="#"><img src="images/portfolio/popular3.jpg" alt=""></a></li>#}
{#                                <li><a href="#"><img src="images/portfolio/popular4.jpg" alt=""></a></li>#}
{#                                <li><a href="#"><img src="images/portfolio/popular5.jpg" alt=""></a></li>#}
{#                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->
</body>
</html>

{% endblock %}
