<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block mainContent %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Unit Test
                            </h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">

                    </div>
                    <div class="pagination_page">
                        <ul class="pagination">
                        {% for topic in topics %}
                             <div class="col-sm-12 col-md-12">
                                <div class="single-blog single-column">
                                    <div class="post-thumb">
                                        <a href="{{ url_for('unit_test', topic=topic.topic_name ) }}" onclick="loading()"><img src="../static/images/topics/{{ topic.topic_name }}.png" class="img-responsive" style="margin: auto; width: 300px"></a>
                                        <div class="post-overlay">
                                           <span class="uppercase"><a href="{{ url_for('unit_test', topic=topic.topic_name ) }}" onclick="loading()">St<br><small>art</small></a></span>
                                       </div>
                                    </div>
                                    <div class="post-content overflow">
                                        <h2 class="post-title bold"><a href="{{ url_for('unit_test', topic=topic.topic_name ) }}" onclick="loading()">{{ topic.topic_name }}</a></h2>
                                        <h3 class="post-author"><a onclick="false">Introduction</a></h3>
                                        <p>{{ topic.topic_introduction }}</p>
                                        <div class="post-bottom overflow">
                                            <ul class="nav navbar-nav post-nav">
{#                                                <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>#}
{#                                                <li><a href="#"><i class="fa fa-heart"></i>{{ skills[i].like }} Love</a></li>#}
{#                                                <li><a href="#"><i class="fa fa-comments"></i>{{ info[i].comment }} Comments</a></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
    </section>

</html>

    <script>
        function loading(){
            document.addEventListener("click", handler, true);

            function handler(e) {
              e.stopPropagation();
              e.preventDefault();
            }
            let timerInterval
            Swal.fire({
              title: 'Preparing your questions',
              html: 'About <b></b> seconds left.',
              timer: 60000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = parseInt(Swal.getTimerLeft()/1000)
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {

            })
        }
    </script>

{% endblock %}
