{% extends "profile_base.html" %}


{% block mainContent %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-10 col-sm-6" style="margin: auto">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Unit Score</h4>
                                <p class="text-muted m-t-0"><code>This line chart shows your recent five scores of different units.<br>Click labels of units to show/hide the unit score</code></p>
                                <div>
                                    <canvas id="shit" height="120"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
    </div>

{% endblock %}
</body>

</html>