{% extends "user_profile_base.html" %}

<style>
    .this-item{
        position:relative;
        display:inline-block;
        background: {{ user_info.color }};
        border-radius: 50%;
        padding:5px 5px;
    }
    .this-left-notify-badge{
        position: absolute;
        left:-20px;
        top:10px;
        background: {{ user_info.color }};
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color:white;
        padding:0px 0px;
    }
</style>

{% block mainContent %}

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Profile</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ user_info.first_name }}'s Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                {% if subscribe == None %}
                                <center><button class="btn-youtube" onclick="subscribe()">Subscribe</button></center>
                                {% else %}
                                <center><button class="btn-youtube" onclick="unsubscribe()">Unsubscribe</button></center>
                                {% endif %}
                                <center class="m-t-30">
                                    {% if user_info.badge_name %}
                                    <div class="profile-item">
                                        <img src="data:;base64,{{ user_info.badge_name }}" class="profile-badge" width="40px"/>
                                        <img src="data:;base64,{{ user_info.profile_pic }}" alt="user" class="rounded-circle" width="100" height="100">
                                    </div>
                                    {% else %}
                                    <img src="data:;base64,{{ user_info.profile_pic }}" alt="user" class="rounded-circle" width="100" height="100">
                                    {% endif %}
                                    <h4 class="card-title m-t-10">{{ user_info.first_name }} {{ user_info.last_name }}</h4>
                                    <h6 class="card-subtitle">{{ user_info.occupation }}</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-bold">Email To {{ user_info.first_name }}</font></a></div>
                                        <div class="col-4"><i class="icon-people"></i> <font class="font-medium">{{ subscribers }} Followers</font></div>
                                        <div class="col-4"><i class="icon-star"></i> <font class="font-medium">{{ following }} Followings</font></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body">
                                <small class="text-muted">Email address </small>
                                <h6>{{ user_info.email }}</h6>

                                <small class="text-muted p-t-30 db">Phone</small>
                                <h6>{{ user_info.phone }}</h6>
                                {% if user_info.occupation == 'Student' %}
                                <small class="text-muted p-t-30 db">Address</small>
                                <h6>{{ user_info.address }}</h6>
                                {% endif %}
{#                                <div class="map-box">#}
{#                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#                                </div>#}
{#                                <small class="text-muted p-t-30 db">Social Profile</small>#}
                                <br/>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Tabs -->
                            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#history" role="tab" aria-controls="pills-timeline" aria-selected="true">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                                </li>
                                {% if user_info.occupation == 'Student' %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#analysis" role="tab" aria-controls="pills-setting" aria-selected="false">Analysis</a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- Tabs -->
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="pills-timeline-tab">
                                    <div class="card-body">
                                        {% for sc in score_list[0:5] %}
                                        <div class="profiletimeline m-t-0">
                                            <div class="sl-item">
                                                {% if user_info.badge_name %}
                                            <div class="profile-item sl-left">
{#                                                {{ user_info.color }}#}
                                                <img src="data:;base64,{{ user_info.badge_name }}" class="profile-badge" width="25px"/>
                                                <img src="data:;base64,{{ user_info.profile_pic }}" class="rounded-circle" width="50" height="50">
                                            </div>
                                            {% else %}
                                            <div class="sl-left">
                                                <img src="data:;base64,{{ user_info.profile_pic }}" alt="user" class="rounded-circle" width="60" height="50">
                                            </div>
                                            {% endif %}
                                                <div class="sl-right">
                                                    <div>I finished<span class="sl-date">{{ sc['date'] }}</span>
                                                        <p>The topic is <a href="{{ url_for('topics',topic=sc['topics']) }}">{{ sc['topics'] }}</a>, and the skill is <a href="{{ url_for('skill_details',skill_=sc['skill']) }}">{{ sc['skill'] }}</a></p>
                                                        <p>The score is {{ sc['score'] }}</p>
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="{{ url_for('static',filename='images/skills/'+sc['skill']+'.png') }}" class="img-fluid rounded" /></div>
                                                        </div>
                                                        <div class="like-comm"> <a href="{{ url_for('skill_details',skill_=sc['skill']) }}" class="link m-r-10">{{ sc['comment'] }} comment</a> <a href="{{ url_for('skill_details',skill_=sc['skill']) }}" class="link m-r-10"><i class="fa fa-heart text-danger"></i> {{ sc['like'] }} Love</a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>First Name</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.first_name }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Last Name</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.last_name }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.phone }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.email }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>School</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.school }}</p>
                                            </div>
                                            {% if user_info.occupation == 'Student' %}
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Gender</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.gender }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6"> <strong>Address</strong>
                                                <br>
                                                <p class="text-muted">{{ user_info.address }}</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6"> <strong>Age</strong>
                                            <br>
                                            <p class="text-muted">{{ user_info.age }}</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <p class="m-t-30">Hello! My name is {{ user_info.last_name }} {{ user_info.first_name }}!</p>
                                        {% if user_info.occupation == 'Student' %}
                                        <h4 class="font-medium m-t-30">Mastery Skills</h4>
                                        <hr>
                                        <h5 class="m-t-30">Basic Math <span class="pull-right">{{ topic_master['Basic Math'] }}%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ topic_master['Basic Math'] }}%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Algebra <span class="pull-right">{{ topic_master['Algebra'] }}%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{ topic_master['Algebra'] }}%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Geometry <span class="pull-right">{{ topic_master['Geometry'] }}%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{ topic_master['Geometry'] }}%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Statistic <span class="pull-right">{{ topic_master['Statistic'] }}%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ topic_master['Statistic'] }}%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Others <span class="pull-right">{{ topic_master['Misc'] }}%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ topic_master['Misc'] }}%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>

                                {#Start pie chart#}
                                <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis">
                                    <div class="card-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">History Analysis</h4>
                                                <div>
                                                    <canvas id="pie-chart" height="150"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#End pie chart#}
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->
    {% endblock %}
    <script>
            s = JSON.parse({{ skill_list|tojson }})
            $(function () {
                // New chart
                new Chart(document.getElementById("pie-chart"), {
                    type: 'pie',
                    data: {
                        labels: s['skill_list'],
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#000000", "#ff6384", "#4bc0c0", "#ffcd56",
                                "#07b107","#FFFAF0","#BBFFFF","#36a2eb",
                                "#2F4F4F","#54FF9F","#4bc0c0", "#ffcd56"],
                            data: s['skill_value_list']
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Proportion of different skills'
                        }
                    }
                });
            });
    </script>
    <script src="{{ url_for('static',filename='profile/js/chartjs/Chart.min.js') }}"></script>
</body>

</html>