{% extends "user_profile_base.html" %}


{% block mainContent %}
        {% if followed_each_other == False and isStudentOf == False %}
            <div class="page-wrapper" style="filter: blur(10px)" id="followed">
        {% endif %}
        {% if followed_each_other == True or isStudentOf == True %}
            <div class="page-wrapper">
        {% endif %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    {% for index in range(skill_score_list|length) %}
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><button class="btn-dropbox" onclick="showAnalysis({{ index }})">{{ skill_score_list[index]['skill_name'] }}</button></h4>
                                    <p class="text-muted m-t-0" style="display: inline"><code>Click the skill name to see details of the skills</code></p>
                                    <div>
                                        <canvas id="skill{{ index }}" height="150"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
    </div>
    <script>
        if(document.getElementById("followed")){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'You have not followed each other!',
              footer: 'Check information by following each other'
            }).then((result)=>{

            })
        }

        function showAnalysis(index){
            const score_analysis_list = JSON.parse({{ score_analysis_list|tojson }});
            Swal.fire({
              title: '<strong>Analysis <i class="fa fa-angle-right"></i> </strong>'+score_analysis_list[index]['skill_name'],
              icon: 'info',
              html:
                '<b>Number of taking: </b>'+parseInt(score_analysis_list[index]['times'])+
                '<br><b>Average Score: </b>'+parseInt(score_analysis_list[index]['avg_score'])+
                '<br><b>The Highest Score: </b>'+parseInt(score_analysis_list[index]['max_score'])+
                '<br><b>The Lowest Score: </b>'+parseInt(score_analysis_list[index]['min_score'])+
                '<br><b>The Average Time: </b>'+parseInt(score_analysis_list[index]['avg_time'])+' seconds'+
                '<br><b>The Longest Time: </b>'+parseInt(score_analysis_list[index]['max_time'])+' seconds'+
                '<br><b>The Shortest Time: </b>'+parseInt(score_analysis_list[index]['min_time'])+' seconds',
              showCloseButton: true,
              focusConfirm: false,
              confirmButtonText:
                '<i class="fa fa-thumbs-up"></i> Got It!',
              confirmButtonAriaLabel: 'Thumbs up, great!',
            })
        }
    </script>

{% endblock %}
</body>

</html>