body {
            line-height: 1.4rem;
        }

        .process {
            width: 93.6vw;
            display: block;
            margin: 2vw auto 1vw;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
        }

        .timu {
            width: 96vw;
            margin: 2vw auto;
        }

        .option {
            margin: 0 0 2vw;
            line-height: 2rem;
            letter-spacing: 0.1rem;
        }

        .option div {
            padding: 0 2vw;
            border-radius: 0.6vw;
        }

        .option .active {
            background-color: blanchedalmond;
        }

        .type {
            font-size: 1rem;
            color: white;
            border-radius: 15px;
            padding: 0px 5px;
            letter-spacing: 0.1rem;
            text-indent: 0.2rem;
            background-color: #1890ff;
            display: inline-block;
            margin-right: 6px;
            line-height: 20px;
        }

        .huida {
            width: 96vw;
            display: block;
            margin: 4vw auto;
        }

        .result {
            margin: 2vw 0 3vw;
            position: relative;
            padding: 8px 48px 8px 16px;
            border-radius: 4px;
            color: #515a6e;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
        }

        .result.success {
            border: 1px solid #8ce6b0;
            background-color: #edfff3;
        }

        .result.warning {
            border: 1px solid #ffd77a;
            background-color: #fff9e6;
        }

        .result.info {
            border: 1px solid #abdcff;
            background-color: #f0faff;
        }

        .answer {
            white-space: pre-line;
        }

        .analysis {
            margin-top: 1vw;
        }

        .pageControl {
            text-align: center;
            display: block;
            margin-top: 20px;
        }

        .ivu-card-head p {
            overflow: inherit;
            white-space: inherit;
            line-height: 24px;
        }

        .ivu-message-notice-content-text {
            display: block !important;
        }